extends ../base.pug

block variables
  - var title = meta.title;
  - var description = meta.description;
  - var keywords = meta.keywords;

append scripts
  script(src=root+"assets/js/test-1.bundle.js?RANDOMIZE-ME", defer)

append styles
  link(href=root+"assets/css/test-1.bundle.css?RANDOMIZE-ME", rel="stylesheet")
  link(href=root+"assets/css/test-1.bundle-40.css?RANDOMIZE-ME", rel="stylesheet", media="(min-width: 40rem)")
  link(href=root+"assets/css/test-1.bundle-60.css?RANDOMIZE-ME", rel="stylesheet", media="(min-width: 60rem)")
  link(href=root+"assets/css/test-1.bundle-80.css?RANDOMIZE-ME", rel="stylesheet", media="(min-width: 80rem)")


block content
  //- Content

  canvas

  //- Content end
